@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat';
}

.wrapper {
    /* background: #FEFBE9; */
    background: #ECF2FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1.71px;
}

h2, h4 {
    font-weight: 400;
    margin: 16px 0;
}